In [1]:
import warnings
from importlib import reload

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

import acquire as a
import prepare as p

warnings.simplefilter("ignore")
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [2]:
bling = "The LÃ¯fÃ¨ of the WiFe \n\n is ENDED by the knÃ¯fe ðŸ˜–"
bling

'The LÃ¯fÃ¨ of the WiFe \n\n is ENDED by the knÃ¯fe ðŸ˜–'

In [3]:
reload(p)
bling = p.basic_clean(bling)
bling

'the life of the wife \n\n is ended by the knife '

In [4]:
reload(p)
bling = p.tokenize(bling)
bling

'the life of the wife \n\n is ended by the knife'

In [5]:
reload(p)
stemmed_bling = p.stem(bling)
stemmed_bling

'the life of the wife is end by the knife'

In [6]:
reload(p)
lemmed_bling = p.lemmatize(bling)
lemmed_bling

'the life of the wife is ended by the knife'

In [7]:
reload(p)
no_stops = p.remove_stopwords(lemmed_bling)
no_stops

'life wife ended knife'

In [19]:
reload(a)
codeup_df = a.get_blog_df()
inshort_df = a.get_article_df()

For each dataframe, produce the following columns:

title to hold the title

original to hold the original article/post content

clean to hold the normalized and tokenized original with the stopwords removed.

stemmed to hold the stemmed version of the cleaned data.

lemmatized to hold the lemmatized version of the cleaned data.

In [24]:
codeup_df['clean'] = codeup_df.content.apply(p.squeaky_clean)
codeup_df['stemmed'] = codeup_df.clean.apply(p.stem)
codeup_df['lemmatized'] = codeup_df.clean.apply(p.lemmatize)
codeup_df.head()

,title,content,clean,stemmed,lemmatized
0,What is the Future of Data Science? - Codeup,"\nIf youâ€™re considering changing careers, you ...",youre considering changing careers probably wa...,your consid chang career probabl want ensur ne...,youre considering changing career probably wan...
1,Codeup is Accredited! - Codeup,"\nAfter eight years of operation, Codeup is th...",eight years operation codeup first accredited ...,eight year oper codeup first accredit bootcamp...,eight year operation codeup first accredited b...
2,Why Dallas is a Great Location for IT Professi...,"\nWhen breaking into a new career, it is impor...",breaking new career important explore job oppo...,break new career import explor job opportun ex...,breaking new career important explore job oppo...
3,Diversity Equity and Inclusion Report - Codeup,\nCodeup is excited to launch our first Divers...,codeup excited launch first diversity equity i...,codeup excit launch first divers equiti inclus...,codeup excited launch first diversity equity i...
4,What Jobs Can You Get After a Coding Bootcamp?,\nIf you are interested in embarking on a care...,interested embarking career tech youre probabl...,interest embark career tech your probabl wonde...,interested embarking career tech youre probabl...

In [27]:
inshort_df['clean'] = inshort_df.content.apply(p.squeaky_clean)
inshort_df['stemmed'] = inshort_df.clean.apply(p.stem)
inshort_df['lemmatized'] = inshort_df.clean.apply(p.lemmatize)
inshort_df.head()

,Unnamed: 0,category,content,headline,clean,stemmed,lemmatized
0,0,business,A drunk passenger smoked in the toilet on a Pa...,"Drunk man smoked in toilet, another peed on wo...",drunk passenger smoked toilet parisdelhi air i...,drunk passeng smoke toilet parisdelhi air indi...,drunk passenger smoked toilet parisdelhi air i...
1,1,business,"RS Sodhi, who has been the Managing Director o...",RS Sodhi steps down as Amul's Managing Directo...,rs sodhi managing director amul 12 years stepp...,rs sodhi manag director amul 12 year step role...,r sodhi managing director amul 12 year stepped...
2,2,business,Tata Consultancy Services (TCS) reported a fal...,TCS' attrition rate falls for first time in 7 ...,tata consultancy services tcs reported fall at...,tata consult servic tc report fall attrit rate...,tata consultancy service tc reported fall attr...
3,3,business,Elon Musk has officially broken the world reco...,Musk enters Guinness World Records for the lar...,elon musk officially broken world record large...,elon musk offici broken world record largest l...,elon musk officially broken world record large...
4,4,business,Vistara's flight UK 781 operating from Delhi t...,Vistara's Bhubaneswar-bound flight returns to ...,vistara ' flight uk 781 operating delhi bhuban...,vistara ' flight uk 781 oper delhi bhubaneswar...,vistara ' flight uk 781 operating delhi bhuban...